body {
  background: #f7f8fb;
  font-family: Arial;
}

.grid {
  margin: 0 !important;
  padding: 0 !important;
  border-collapse: separate;
  width: 100%;
}

.row {
  margin-bottom: 24px;
}

.card {
  background: #fff;
  margin: 0 0 20px;
  padding: 40px;
}

.text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: #222121;
  margin: 0 0 8px;
}

.h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #222121;
  margin: 0 0 24px;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 0 24px;
}

.h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: normal;
  color: #222121;
  margin: 0 0 24px;
}

.h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 0 12px;
}

.microcopy {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.56);
  margin: 0 0 8px;
}

.link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #1a45ab;
}

.logo {
  height: 28px;
}

.circle {
  display: inline-block;
  background: #1a45ab;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 7px;
}

hr,
.divider {
  border: none;
  background: rgba(0, 0, 0, 0.08);
  height: 2px;
  margin: 24px 0;
}

.layout {
  width: 400px;
  margin: 48px auto;
}
.span-1 {
  width: 50px;
}
.span-2 {
  width: 100px;
}
.span-3 {
  width: 150px;
}
.span-4 {
  width: 200px;
}
.span-5 {
  width: 250px;
}
.span-6 {
  width: 300px;
}
.span-7 {
  width: 350px;
}
.span-8 {
  width: 400px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-sm {
  font-size: 14px;
}
.m-0 {
  margin: 0;
}
.mt-2 {
  margin-top: 8px;
}
.mt-4 {
  margin-top: 16px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mb-8 {
  margin-bottom: 32px;
}
.mb-10 {
  margin-bottom: 40px;
}
.pb-4 {
  margin-bottom: 16px;
}
.mr-4 {
  margin-right: 16px;
}

@media (min-width: 640px) {
  .layout {
    width: 600px;
  }
  .span-1 {
    width: 75px;
  }
  .span-2 {
    width: 150px;
  }
  .span-3 {
    width: 225px;
  }
  .span-4 {
    width: 300px;
  }
  .span-5 {
    width: 375px;
  }
  .span-6 {
    width: 450px;
  }
  .span-7 {
    width: 525px;
  }
  .span-8 {
    width: 600px;
  }
}
