body {
  background: #f7f7f7;
  font-family: 'Source Sans Pro', Arial;
}

.bullet {
  display: inline-block;
  background: #ff4c00;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  line-height: 8px;
}

hr,
.divider {
  border: none;
  background: rgba(0, 0, 0, 0.08);
  height: 2px;
  margin: 24px 0;
}

.layout {
  width: 400px;
}
.span-1 {
  width: 50px;
}
.span-2 {
  width: 100px;
}
.span-3 {
  width: 150px;
}
.span-4 {
  width: 200px;
}
.span-5 {
  width: 250px;
}
.span-6 {
  width: 300px;
}
.span-7 {
  width: 350px;
}
.span-8 {
  width: 400px;
}

@media (min-width: 640px) {
  .layout {
    width: 600px;
  }
  .span-1 {
    width: 75px;
  }
  .span-2 {
    width: 150px;
  }
  .span-3 {
    width: 225px;
  }
  .span-4 {
    width: 300px;
  }
  .span-5 {
    width: 375px;
  }
  .span-6 {
    width: 450px;
  }
  .span-7 {
    width: 525px;
  }
  .span-8 {
    width: 600px;
  }
}
