@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'),
    url('https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/SourceSansPro-Regular.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'),
    url('https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/SourceSansPro-Bold.ttf')
      format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Effra';
  src: local('Effra'),
    url('https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/Effra-StdRg.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Effra Medium';
  src: local('Effra Medium'),
    url('https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/Effra-Medium.ttf')
      format('truetype');
  font-weight: 500;
}

body {
  background: #f7f7f7;
  font-family: 'Source Sans Pro', Arial;
}

::selection {
  color: #080809;
  background: #ff4c00;
}

::selection {
  color: #ffffff;
  background: #002182;
}

hr,
.divider {
  border: none;
  background: rgba(0, 0, 0, 0.08);
  height: 2px;
  margin: 24px 0;
}

.layout {
  width: 400px;
}
.span-1 {
  width: 50px;
}
.span-2 {
  width: 100px;
}
.span-3 {
  width: 150px;
}
.span-4 {
  width: 200px;
}
.span-5 {
  width: 250px;
}
.span-6 {
  width: 300px;
}
.span-7 {
  width: 350px;
}
.span-8 {
  width: 400px;
}

@media (min-width: 640px) {
  .layout {
    width: 600px;
  }
  .span-1 {
    width: 75px;
  }
  .span-2 {
    width: 150px;
  }
  .span-3 {
    width: 225px;
  }
  .span-4 {
    width: 300px;
  }
  .span-5 {
    width: 375px;
  }
  .span-6 {
    width: 450px;
  }
  .span-7 {
    width: 525px;
  }
  .span-8 {
    width: 600px;
  }
}
